/* Global */
html, body, input { margin: 0; padding: 0; font-family: "Arial", "Helvetica", sans-serif; font-size: 1em; line-height: 1.4em; }
a, a:hover, a:visited { color: #000; text-decoration: none; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="text"], input[type="password"], input[type="submit"], select, textarea { outline: none; -webkit-border-radius: 0px; -webkit-appearance: none; }
a { -webkit-text-size-adjust: none; -ms-text-size-adjust:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
:focus { outline: none; }
.cyan { background: #00babe; }

/* Header */
#header { padding: 7px; border-bottom: 3px solid #00babe; text-align: center; }
#header img { width: 60px; display: block; margin: 0 auto; }

/* Footer */
#footer { padding: 10px 20px 20px 20px; background: #fff; color: #a4a4a4; }
#footer a { color: #a4a4a4; }

/* Menu */
.foundry-menu { border-top: 1px solid #efefef; }
.foundry-menu .item { padding: 10px 20px; border-bottom: 1px solid #efefef; }
.foundry-menu .item a { color: #00babe; display: block; }

/* Signup */
.signup-tile .title { background: #000; padding: 10px 0; text-align: center; text-transform: uppercase; color: #fff; }
.signup-tile form { padding: 20px; }

/* Sign Petition */
.sign-petition-tile .title { background: #000; padding: 10px 0; text-align: center; text-transform: uppercase; color: #fff; }
.sign-petition-tile form { padding: 20px; background: #efefef; }

/* Forms */
form .field input { width: 100%; border: 1px solid #c5cece; padding: 7px; }
form .buttons input, .buttons a { width: 100%; padding: 10px 0;  background: #00babe; color: #fff; text-align: center; text-transform: uppercase; border: 0; }
form .field div > label,
li.required > label, 
div.required > label { padding: 0!important; margin: 0 0 2px 0; font-size: 11px; text-transform: uppercase; color: #616161; background: 0!important; }

/* Sharing */
.share-site-tile > .title { padding: 20px 0 0 0; text-align: center; }
.share-site-tile > .sharing { padding: 10px 20px 20px 20px; text-align: center; }
.share-site-tile > .sharing div { display: inline; }
.share-site-tile > .sharing img { width: 35px; }

/* Item - Post */
.item-post { padding: 12px 20px 20px 20px; }
.item-post .title,
.item-post .title a { font-size: 1.5em; line-height: 1.6em; color: #00babe; }
.item-post .description { color: #fff; }

/* Item - Download */
.item-download { padding: 15px; background: #000; color: #fff; text-align: center;  }
.item-download a { color: #fff; display: block; text-transform: uppercase; } 
.item-download .meta { display: none; }

/* Item - Image Banner */
.item-imagebanner img { width: 100%; display: block; }

/* Post Detail */
.post-detail { padding: 20px; }
.post-detail-inclusion .image img { width: 100%; }
.object-header > .title { padding: 0 0 10px 0; font-size: 1.5em; line-height: 1.6em; color: #00babe; }

/* Static Titles */
.sign-the-petition { background: #00babe; padding: 10px 20px; text-align: center; text-transform: uppercase; color: #fff; }
.sign-petition-success > .title,
.flat-page > .title,
.static-page > .title { background: #00babe; padding: 10px 20px; text-transform: uppercase; color: #fff; }
.flat-page > *,
.static-page > *,
.sign-petition-success > p { padding: 0 20px; }

/* More flatpage styling -- all the text elements */

.flat-page > * { padding: 0 20px!important; }
.flat-page > ul,
.flat-page > ol { margin: 0 20px; }
.flat-page > hr { margin: 20px; }
.flat-page a { color: #39b4ea; }

.flat-page > .title { padding: 10px 20px!important; }

.headline { font-size: 1.5em; }

/*404*/
.four-oh-four { text-align:center;color:#F00; }
.four-oh-four a { display:block;}
.four-oh-four .buttons { padding:0 20px 20px 20px; }
table.foundry-page-row {
    width: 100%;
    margin: 0px 0px 4px 0px;
}    
table.foundry-page-row tr {
    height: 100%;
}
td.foundry-page-column {
    height: 100%;
    vertical-align: top;
    padding: 0;
}    
td.foundry-page-column-1 {
    width: 6%;
}    
td.foundry-page-column-2 {
    width: 12%;
}    
td.foundry-page-column-3 {
    width: 18%;
}    
td.foundry-page-column-4 {
    width: 24%;
}    
td.foundry-page-column-5 {
    width: 30%;
}    
td.foundry-page-column-6 {
    width: 36%;
}    
td.foundry-page-column-7 {
    width: 42%;
}    
td.foundry-page-column-8 {
    width: 48%;
}    
td.foundry-page-column-9 {
    width: 54%;
}    
td.foundry-page-column-10 {
    width: 60%;
}    
td.foundry-page-column-11 {
    width: 66%;
}    
td.foundry-page-column-12 {
    width: 72%;
}    
td.foundry-page-column-13 {
    width: 78%;
}    
td.foundry-page-column-14 {
    width: 84%;
}    
td.foundry-page-column-15 {
    width: 90%;
}    
td.foundry-page-column-16 {
    width: 100%;
}    

div.foundry-page-tile {
    padding: 0px;
} 

.object-comments form label {
    display: block;
}
.object-comments form textarea {
}
.object-comments form p.submit {
}

.foundry-comments-messages-navbar { 
    background-color: #000; 
    color: #555; 
    padding: 3px 3px 5px 3px; 
    clear: both;
}
.foundry-comments-messages-navbar a { 
    color: #fff ;
}
.foundry-comments-messages-navbar div.item { 
    display: inline;
    padding: 0 2px ;
}
.foundry-comments-messages-navbar div.active { 
    background-color: #fff;
}
.foundry-comments-messages-navbar div.active a { 
    color: #323232 ;
}

.foundry-comments-pages-navbar { 
    background-color: #000; 
    color: #555; 
    padding: 3px 3px 5px 3px; 
    clear: both;
}
.foundry-comments-pages-navbar a { 
    color: #fff ;
}
.foundry-comments-pages-navbar div.item { 
    display: inline;
    padding: 0 2px ;
}
.foundry-comments-pages-navbar div.active { 
    background-color: #fff;
}
.foundry-comments-pages-navbar div.active a { 
    color: #323232 ;
}

ul.errorlist {
    margin: 0 0 12px -3.1em;
}    

ul.errorlist li {
    margin: 0;
    color: red;
}

div.errorlist {
    margin-bottom: 12px;
}    

div.errorlist div.error {
    color: red;
}

form.foundry-form { 
    margin: 0; 
    padding: 0;
    background-color: #f9f9f9; 
    border: 1px solid #e5e5e5; 
    padding: 5px; 
    margin: 0.5em 0;
}

form.foundry-form-inline { 
    margin: 0; 
    padding: 0;
    border: 1px solid #e5e5e5; 
    padding: 5px; 
    margin: 0.5em 0;
}

ul.form-ul {
    margin-top: 0;
}

ul.form-ul li {
    margin-bottom: 6px;
    margin-left: -40px;
    list-style: none;
}

ul.form-ul ul.errorlist, ul.form-ul div.errorlist {
    margin: 0;
}    

ul.form-ul label {
    display: block;
    margin-bottom: 2px;
}    

ul.form-ul .helptext {
    display: block;
    margin-bottom: 2px;
    color: #7e7e7e;
}    

div.field {
    margin-bottom: 6px;
}

div.field ul.errorlist {
    margin: 0 0 0 -3.1em;
}    

div.field div.errorlist {
    margin: 0;
}    

div.field label {
    display: block;
    margin-bottom: 2px;
}    

div.field .helptext {
    display: block;
    margin-bottom: 2px;
    color: #7e7e7e;
}    

li.required > label, div.required > label {
    background-image: url('../images/red-asterisk.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}    

/* Basic */


div.social-buttons a {
    cursor: pointer;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
    line-height: 45px;
    border-radius: 2px;
    border: none;
    height: 45px;
    width: auto;
    white-space: nowrap;
    font-size: 0.9em;
    display: inline-block;
    margin: 1em;
    padding-right: 8px
}
div.social-buttons a.facebook {
    background-color: #536A97;
    background: -webkit-linear-gradient(top, #536A97, #3D5382);
    background: -moz-linear-gradient(top, #536A97, #3D5382);
    background: -o-linear-gradient(top, #536A97, #3D5382);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536a97',endColorstr='#4f77a7');
    background-image: -ms-linear-gradient(#536A97, #3D5382);
    color: #fff;
    
}
div.social-buttons a.twitter {
    background-color: #5EAADC;
    background: -webkit-linear-gradient(top, #5EAADC, #4797D3);
    background: -moz-linear-gradient(top, #5EAADC, #4797D3);
    background: -o-linear-gradient(top, #5EAADC, #4797D3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EAADC',endColorstr='#4f77a7');
    background-image: -ms-linear-gradient(#5EAADC, #4797D3);
    color: #fff;    
}
div.social-buttons a.google {
    background-color: #D14836;
    background: -webkit-linear-gradient(top, #C53717, #D14836);
    background: -moz-linear-gradient(top, #C53717, #D14836);
    background: -o-linear-gradient(top, #C53717, #D14836);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5eeadc',endColorstr='#D14836');
    background-image: -ms-linear-gradient(#c53717, #D14836);
    color: #fff;    
}
div.social-buttons a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
div.social-buttons a.facebook span {
    background: url(../images/facebook-connect-button.png) 0 10px no-repeat;
    width: 36px;
    height: 45px;
}
div.social-buttons a.twitter span {
    background: url(../images/twitter-oauth-button.png) 0 10px no-repeat;
    width: 36px;
    height: 45px;
}

div.social-buttons a.google span {
    background: url(../images/google-oauth2-button.png) 0 10px no-repeat;
    width: 36px;
    height: 45px;
}

/* */
