{% extends "base.html" %}
{% load i18n foundry_tags org_tags %}

{% block content %}
    {% get_listing_queryset "banners" as "qs1" %}
    {% listing qs1 title="" style="Vertical" %}
    {% get_listing_queryset "posts" as "qs2" %}
    {% listing qs2 title="" style="Vertical" %}
    <div class="four-oh-four">
        <div class="title">Page Not Found</div>
        <p>Unfortunately we cannot find the page you are looking for.</p>
        <p>Please navigate to the <a href="/">Home page</a> and try again.</p>
    </div>
{% endblock %}
